
  p {
font-family: 'Times New Roman';
font-weight: 600;
color: #504C02;
}
h1 {
  font: 'Calibri','Helvetica'
  font-style: italic;
  font-weight: 800

}
body {
  border: solid
  font: 'Kaiti SC'
  }
